# PostgreSQL
POSTGRES_USER=weather_user
POSTGRES_PASSWORD=dein_passwort_hier
POSTGRES_DB=weather_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Airflow
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=dein_passwort_hier
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://weather_user:dein_passwort_hier@postgres:5432/weather_db
AIRFLOW__CORE__FERNET_KEY=generiere_mit_python_-c_"from_cryptography.fernet_import_Fernet;print(Fernet.generate_key().decode())"
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=false
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth

# Stadt (Open-Meteo)
DEFAULT_CITY=Freiburg
DEFAULT_LATITUDE=47.9990
DEFAULT_LONGITUDE=7.8421

BACKEND_PORT=8000
